<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GaquestPoquest"
        tools:targetApi="31">
        <activity
            android:name=".GallowActivity"
            android:exported="false" />
        <activity
            android:name=".ChoiseActivity"
            android:exported="false" />
        <activity
            android:name=".EndActivity"
            android:exported="false" />
        <activity
            android:name=".FinishFightActivity"
            android:exported="false" />
        <activity
            android:name=".FinishActivity"
            android:exported="false" />
        <activity
            android:name=".FightActivity10"
            android:exported="false" />
        <activity
            android:name=".LevelActivity10"
            android:exported="false" />
        <activity
            android:name=".FightActivity9"
            android:exported="false" />
        <activity
            android:name=".LevelActivity9"
            android:exported="false" />
        <activity
            android:name=".FightActivity8"
            android:exported="false" />
        <activity
            android:name=".LevelActivity8"
            android:exported="false" />
        <activity
            android:name=".FightActivity7"
            android:exported="false" />
        <activity
            android:name=".LevelActivity7"
            android:exported="false" />
        <activity
            android:name=".FightActivity6"
            android:exported="false" />
        <activity
            android:name=".LevelActivity6"
            android:exported="false" />
        <activity
            android:name=".FightActivity5"
            android:exported="false" />
        <activity
            android:name=".LevelActivity5"
            android:exported="false" />
        <activity
            android:name=".FightActivity4"
            android:exported="false" />
        <activity
            android:name=".LevelActivity4"
            android:exported="false" />
        <activity
            android:name=".FightActivity3"
            android:exported="false" />
        <activity
            android:name=".LevelActivity3"
            android:exported="false" />
        <activity
            android:name=".FightActivity2"
            android:exported="false" />
        <activity
            android:name=".LevelActivity2"
            android:exported="false" />
        <activity
            android:name=".FightActivity"
            android:exported="false" />
        <activity
            android:name=".LevelActivity1"
            android:exported="false" />
        <activity
            android:name=".StartActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>